# Kafka
bootstrap.servers=pkc-43n10.us-central1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=KMU6FXC6YOALPZUV
sasl.password=OCcMwCirORUSi8Kre6ZECtUOo8leAFczMY4R4CBkBu6X/H275Mu/xiRjW1LAhN02

# Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}
